@model Sprint2.Models.InteracaoCliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InteracaoCliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_interacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_interacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_interacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
